.widget.Social_Widget
{
	margin-top: 25px;
	margin-bottom:10px;
}
/*archive widget*/
.widget.widget_archive{
    margin-top: 20px;
	}
h2.widgettitle {
    font-size: 22px;
    font-weight: bold;
    line-height: 18px;
    margin: 5px 0 15px;
}
.widget ul{
padding:0px;
margin:20px 0px;
}
.widget li {
    list-style-type: square;
    margin-left: 15px;
    margin-bottom: 7px;
}
.searchbar{
float:right;
}

.socialmedia-buttons.smw_left a img{
-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.socialmedia-buttons.smw_left a:hover img{
-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

input:focus{
  outline: 0;
}

/*.logo a img{
    padding: 3px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
*/

.readmore a{
    box-shadow: 0 8px 6px -6px #777;
}


.collapsed-archives.collapsed-archives-triangles ul li {
    list-style: none;
    padding: 0;
    margin-left: 0;
}



.container{
position:relative;
}

.content_box .page-header{
border:none;
}

.searchbar{
    float: right;
    bottom: 0;
    right: 0px;
    position: absolute;
}

.widget.Social_Widget{
    margin-bottom: -11px;
    margin-top: 11px;
}

.socialmedia-buttons img.bounce:hover {
    transform: translate(0px, -8px);
    -moz-transform: translate(0px, -8px);
    -webkit-transform: translate(0px, -8px);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease;
}
.navigation {

    position: relative;
	}

	.widget{
margin-top:20px;
}
#searchform{
margin-top:0px;

}
	
	.widget.widget_search{
	    float: left;
    width: 100%;
        margin-top:0px;

	}

#searchform input, #searchform input[type="submit"]{
box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
height:40px;
}
#searchform input[type="submit"]{
height:41px;
}


.page-header h1{
    margin: 0px;
}

.widget.widget_collapsed_archives_widget{
padding-top:20px;
   width:100%;
}
.widget{
float:left;
}



.btn-search
{
    background-color: #0a97cd;
    color: #fff;
    cursor: pointer;
    height: 41px;
    border-radius:0;
    padding-bottom: 0;
    padding-top: 0;
    transition: all 0.25s linear 0s;
    width: 29.6%;
}
/*about us page*/
.post-114.page.type-page.status-publish.hentry{
padding-top:20px;
}


/*stack papers*/
.letter {
  background: #fff;
  border: 1px solid #EEE;
    border-top:none;
  margin: 0px auto 0;
  min-height: 450px;
  padding: 24px;
  position: relative;
        width: 75%;
  
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
/*end stack papers*/

.aboutus ul{
width:70%;
margin:0 auto;
}
.aboutus ul li a,.aboutus ul>li.active>a:hover,.aboutus ul li a:hover{
border-radius:0;
    color:black;
     padding: 10px 17px;
    font-size:17px;
    color:#0A97CD  ;
    background-color: #FFF;
    border:1px solid #EEE;
    border-bottom:none;
}

.nocomments{
display:none;
}
.aboutus ul li.active a, .aboutus ul>li.active>a:focus{
    color:#FFF;
    background-color: #0A97CD;
    text-shadow: none;
       border:1px solid #EEE;
    border-right:none;
    border-bottom:none;
    
}

.overlay-hugeinc.open{
padding-top:35px;
z-index: 2;
}
.overlay .overlay-close{
top:36px;
}

/*end about us page*/

	
.ai1ec-subscribe-dropdown.ai1ec-btn-xs > .ai1ec-subscribe,a.ai1ec-btn.ai1ec-btn-default.ai1ec-btn-xs.ai1ec-pull-right.ai1ec-calendar-link{
    color: #fff;
    background-color: #0a97cd;
    border-color: #1b6d85;
    padding:5px !important;
        box-shadow: 0 8px 6px -6px #777;
    border:none;
}
.ai1ec-subscribe-dropdown.ai1ec-btn-xs > .ai1ec-subscribe:hover,a.ai1ec-btn.ai1ec-btn-default.ai1ec-btn-xs.ai1ec-pull-right.ai1ec-calendar-link:hover{
    color: #fff;
    background-color: #086F96;
    border-color: #086F96;
}


p.ai1ec-no-results {
    background-color: #FFF;
    padding: 10px;
    border-radius: 3px;
     box-shadow: 0 8px 6px -6px #777;
}


.g.post.post-125.page.type-page.status-publish.hentry {
margin: 0 auto;

}
.ai1ec-agenda-widget-view .ai1ec-date {
 
    margin-bottom: 10px;
}
.calendar_event{
background-color:#fff;
	padding:20px;
	margin-bottom:30px;
	border: 1px solid #cdcdcd;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    border-radius: 3px;
}
.post-141.ai1ec_event.type-ai1ec_event.status-publish.hentry.events_categories-test-category section{
    border-top: 1px solid #EEE;
    padding-top: 20px;
    margin-top: 8px;
}
footer#pagefooter  h3{
font-size:17px;
}
footer#pagefooter a{
color:#FFF;
}
footer#pagefooter .widget{
margin-top:0px;
}
footer#pagefooter .widget ul{
padding:0px;
margin:0px;
}
footer#pagefooter .widget ul li {
    list-style: none;
       list-style: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 4px;
}



#wpt_widget-2_content
{
	min-width:350px;
	min-height:495px;
	width:100%;
	display:block;
}
form
{
    opacity: 1;
    transition: opacity 1s;
    margin-top:20px;
}

.form-control
{
	height:55px;
	padding-left: 60px;
}
.fade-away
{
    opacity: 0;
}

textarea.form-control 
{
    padding-top: 13px;
}
.wpcf7-form-control-wrap:before
{
	font-family: 'FontAwesome';
    color:#364956;
    position: absolute;
    left: 15px;
	top:5px;
	z-index:1;
	font-size: 2em;
}
.wpcf7-form-control-wrap.name:before
{
	 content: "\f007";
}
.wpcf7-form-control-wrap.email:before
{
	 content: "\f0e0";
}
.wpcf7-form-control-wrap.message:before 
{
        content: "\f040";
}

.btn-info {
    background-color: #0a97cd;
    border-color: #46b8da;
    color: #fff;
}
.article-contact
{
	min-height:495px;
}


.success-message 
{
    min-height: 500px;
    padding-top: 150px;
    text-align: center;
    color:#0a97cd;
    transform: scale(0);
    transition: all ease 4s;
}

.showSuccess
{
	transform: scale(1);
}


.overflowcheck{
overflow:hidden;
}

 /* Small Devices, Tablets */
    @media only screen and (max-width : 600px) {
        .searchbar{
            position: relative;
    width: 285px;
            margin:0 auto;
            float:none;
        }
        .logo{
        text-align:center;
        }
       
	   .media .media-left{
	   display: block;
		width: 100%;
		padding: 0px;
	   }
	   
	     
	   .media .media-left img{
		width: 70%;
		height: auto;
		margin: 0px auto;
		float: none;
		display: block;
		padding-bottom: 10px;
	   }
	   .media-body{
	   display:block;
	   width:100%;
	   
	   }
         .g.post.post-125.page.type-page.status-publish.hentry {
    width: 550px;
  }
        #wpt_widget-2_content{
        min-width:100%;
        }
        
        .letter{
        width:100%;
        }
        .aboutus ul {
        width: 90%;
        }
        
    }





@media (min-width: 992px) {
  .g.post.post-125.page.type-page.status-publish.hentry {
    width: 970px;
  }
    .aboutus ul{
    position:absolute;
        top:15%;
        z-index: 1;
    }
     .aboutus ul li{
       float:none;
         margin-top:15px;
    }
    .aboutus ul{
width:auto;
    }
    
}
@media (min-width: 1200px) {
  .g.post.post-125.page.type-page.status-publish.hentry {
    width: 1170px;
  }
}